body {
  background: url('../images/background.jpg');
  background-size: cover;
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.primary-text{
  color:#519872;
}
.primary-background{
  background-color:#519872;
}
.secondary-text{
  color:#ffffff;
}
.secondary-background{
  background-color:#ffffff;
}

h1 {
  font-weight: 300;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
  font-weight: 300;

}

.button {
  padding: 10px 15px;
  border-radius: 6px;
  text-align: center;
}

.col-half {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.col-third {
  width: 33.3%;
  float:left;
  box-sizing: border-box;
}

/* HEADER */

header {
  height:70px;
  width:85%;
  padding: 10px 20px;
  line-height: 70px;
  border-bottom: 1px solid white;
  margin: auto;
}

.logo{
  float: left;
}

.logo img {
  vertical-align:middle;
  display: inline-block;
}

nav {
  float:right;
}

nav ul {
  padding:0px;
  margin: 0px;
  list-style-type:none;
}

nav li {
  display: inline-block;
  padding: 0px 5px;
}

nav a {
  text-decoration: none;
}

nav a:hover{
  opacity: .8;
}

/* MAIN */

main {
  overflow:auto;
  padding: 40px 20px;
  width: 85%;
  text-align: center;
  margin: auto;
}

main .cta {
  display: inline-block;
}

main a {
  text-decoration: none;
}

section {
  padding: 20px 40px 0px 40px;
  overflow: auto;
}


section .col-third .special {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 220px;
  padding-top: 25px;
  width: 80%;
  margin:auto;
}

section .special img {
  border-radius: 100%;
  border:2px solid #519872;
}

section .special p{
  font-size: 18px;
  font-weight: 400;
}
/* FOOTER */

footer {
  text-align: center;
  padding: 20px 0px;
}

footer .locations {
  border-bottom: 1px solid white;
  width: 85%;
  margin: 0 auto;
  overflow:auto;
  padding: 20px;
}

.locations span {
  font-size: 16px;
}

footer .logo {
  padding: 20px;
  margin:auto;
}
